<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- URL Rewrite configuration -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNestJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Remove default document handling -->
    <defaultDocument enabled="false" />
    
    <!-- Directory browsing should be disabled -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>